* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
.header {
  position: relative;
  display: flex;
  background-color: transparent;
  overflow: hidden;
  text-align: left;
  justify-content: center;
  line-height: 80px;
  min-height: 80px;
  width: 1100px;
  margin: 3.5% auto;
}

.logo {
  width: 40%;
  justify-content: left;
}
.nav {
  width: 50%;
  cursor: pointer;
  color: aliceblue;
}

a {
  display: inline-block;
  margin-right: 2vw;
  color: aliceblue;
}
.primary-box {
  display: inline-block;
}
.nav_list {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
