* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}

html {
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu {
  width: 100vw;
  height: 15vh;
}
ul li {
  display: inline-block;
  margin-right: 2vw;
}
.primary-box {
  display: inline-block;
}
