@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg_001.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.navbar {
  height: 10vh;
  width: 50vh;
  margin: auto;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* position: relative; */
}

.navbar .logo {
  width: 15%;
  height: 10%;
  /* justify-content: left; */
}

.navbar nav {
  width: 100%;
  cursor: pointer;
}
.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  display: inline-flex;
  display: inline-block;
  text-transform: uppercase;
  float: right;
}

a {
  display: inline-block;
  margin-right: 1vw;
  color: aliceblue;
}
section {
  padding: 6em 2em;
  text-align: center;
  border: red;
}
.hero {
  text-align: center;
  display: flex;
  height: 60vh;
  width: 50vh;
  margin: auto;
  color: white;
  border: red;
}
.container {
  justify-content: space-between;
  display: inline;
  margin: auto;
  border: red;
}
.left-col h1 {
  text-align: left;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.left-col {
  position: left;
  width: 55%;
  text-align: justify;
  margin: 5;
}
.buttons {
  margin: auto;
}

.button1 {
  background-color: #0db43f;
  color: white;
  height: 3em;
  width: 10vh;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 0.5em;
}

.button2 {
  background-color: #1f90db;
  color: white;
  height: 3em;
  width: 10vh;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 0.5em;
  margin-left: 1em;
}
.right-col {
  position: right;
  width: 500px;
}
.phone1 {
  height: 60vh;
  z-index: -2;
}

.phone2 {
  height: 50vh;
  margin-left: -25%;
  margin-top: 30vh;
  z-index: -1;
}
